.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .imageContainer {
    width: 40%;
  }
  
  .image {
    max-width: 100%;
    height: auto;
    border-radius: 50px;
  }
  
  .textContainer {
    width: 50%;
    text-align: center;
  }
  
  h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 40px;
  }