

td{
  height:100px;
  width:100px;
  border:1px solid rgb(8, 5, 5);
  text-align: center;
  font-size: 60px;
  color:brown;
 
}
table{
  margin-left:30%;
  margin-top: 5%;
}
h1{
  color: black;
  margin-top: 2%;
  margin-left: 35%;
}
.reset-btn{
  border:none;
  border-radius: 0.5rem;
  background-color: blue;
  color: white;
  font-size: 1rem;
  padding :0.5rem;
  margin:2rem auto;
  display:block

}