.container{
    display:  flex;
    flex-direction: column;
   margin-left: 40rem;
    align-items: center;
    height: 30%;
    width: 30%;
    border: 2px solid black;
    margin-top: 5rem;
}
.main{
    
    display: flex;
    width: 253px;
    justify-content: space-between;
   
    margin-top: 10px;
    padding: 10px;
    flex-direction: column;
   
}
.input{
    display: flex;
    
   margin :1rem;
  
}
.main li{
    list-style: none;
  
    margin-right: 14%;
    padding-right: 33px;
    width: 34px;
    margin: 6px;
    margin-left: 33px;
}
.box{
    display: flex;
   
    border: 1px solid grey;
    margin-top: 10px;
}
.box2{
    display: flex;
    justify-content: space-around;
    width: 70%;

}